
.field--name-field-gallery-images .field--item {
  float: left;
  margin: 8px 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lightbox .lb-data .lb-number {
    color: #eeeeee;
}

.gallery--image-wrapper {
    float: left;
    margin: 8px 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery--image-wrapper img { /* Mod template to add class so don't need to target element */
    display: block;
}
